div, p, input, button, form, span, a, ul,li{
    box-sizing: border-box;
}

p {
    line-height: 1.8em;

}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

i {
    color:red;
}

h1 h2 h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.container{
    max-width: 1060px;
    margin: 0 auto;
}

header .container{
    padding-top: 5px;
    display: flex;
}

.block{
    width: 500px;
    height: 500px;
    border-width: 3px;
    outline: 1px solid blue;
}

.top{
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 200px;
    border-width: 3px;
    outline: 1px solid blue;
}

.title{
    text-align: center;
    width: 300px;
    height: 173px;
    padding: 40px;
}

span {
    font-size: 72px;
}

.low{
    width: 500px;
    height: 300px;
}

.low h1{
    text-align: center; 

}

.about_me{
    width: 500px;
    height: 200px;
    padding-left: 15px;
}

.skills{
    width: 500px;
    height: 250px;
}

.skills h1, .skills p{
    text-align: center;
}

.exmpl{
    width: 1000px;
    height: 300px;
    outline: 1px solid blue;
    margin-bottom: 100px;
}

.txt{
    height: 50px;
    width: 1000px;
    outline: 1px solid blue;
    text-align: center; 
    font-size: 30px;
}

.code{
    width: 1000px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    
}

.mcro_blc{
    width: 725px;
    height: 200px;
    outline: 1px solid blue;
}

.mcro_blc p{
    font-size: 13px;
    padding: 10px ;
}

.srss{
    height: 50px;
    width: 1000px;
    display: flex;
    justify-content: space-around;
}
.git{
    width: 333px;
    height: 50px;
    padding: 10px 10px;
    text-align: center;
}
.git img{
    width: 30px;
    height: 30px;
}

.year{
    width: 333px;
    height: 50px;
    text-align: center;}

.year img{
    width: 50px;
    height:30px;
    padding-top: 13px;
}


.rs{
    width: 333px;
    height: 50px;
    text-align: center;
    padding-top: 13px;
}

.rs img{
    width: 40px;
    height: 30px;

}
/*Colors*/

.container #right{
    background-color: yellow;
}

.txt{
    background-color: red;
}

.code{
    background-color: yellow;
}

.code #left_blc{
    background-color: white;
}

.srss{
    background-color: red;
}


/*Adaptive*/




@media screen and (max-width: 1200px){

}


@media screen and (max-width: 992px){


    .container{
        width: 600px;
        margin: auto 0;
    }

}



@media screen and (max-width: 768px){

    .block{
        width: 600px;
    }

    .top{
        width: 600px;
        justify-content: space-evenly;
    }
    .low{
        margin: auto;
    }
    
    .about_me{
        margin: auto;
    }

    .skills{
        margin: auto;
    }

    header .container{
        display: block;
    }

    .container{
        width: 600px;
        margin: 0 auto;
    }

    .exmpl{
        width: 600px;
        height: 314px;  
        margin-bottom: 0px;
    }
    .txt{
        width: 600px;
    }

    .mcro_blc{
        width: 600px;
    }

    .code{
        width: 600px;
        display: block;
    }

    .srss{
        width: 600px;
    }

    #rigth_blc{
        display: none;
    }
}

@media screen and (max-width: 576px){

    .block{
        width: 500px;
    }

    .top{
        width: 500px;;
    }

    header .container{
        display: block;
    }

    .container{
        width: 500px;
        margin: 0 auto;
    }

    .exmpl{
        width: 500px;
        height: 314px;  
        margin-bottom: 0px;
    }
    .txt{
        width: 500px;
    }

    .mcro_blc{
        width: 500px;
    }

    .code{
        width: 500px;
        display: block;
    }

    .srss{
        width: 500px;
    }

    #rigth_blc{
        display: none;
    }
}
